* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  border: 10 px solid black;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px 100px 100px;
  grid-template-areas:
    "item1 item1 item2"
    "item3 item4 item2"
    "item5 item5 item5";
}
.item1 {
  background-color: lightcoral;
  grid-area: item1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.item2 {
  background-color: lightskyblue;
  grid-area: item2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.item3 {
  background-color: lightgreen;
  grid-area: item3;
  display: flex;
  align-items: center;
  justify-content: center;
}
.item4 {
  background-color: lightyellow;
  grid-area: item4;
  display: flex;
  align-items: center;
  justify-content: center;
}
.item5 {
  background-color: lightgray;
  grid-area: item5;
  display: flex;
  align-items: center;
  justify-content: center;
}
