* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.parent {
  display: flex;
  height: 100vh;
  border: 10px solid black;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.child1 {
  height: 200px;
  width: 200px;
  background-color: lightsalmon;
}
.child2 {
  height: 200px;
  width: 200px;
  background-color: lightgreen;
}
.child3 {
  height: 200px;
  width: 200px;
  background-color: lightskyblue;
}
