* {
  box-sizing: border-box;
  margin: 0ch;
  padding: 0;
}
body {
  background-image: url("img2.jpg");
  color: white;
  text-align: center;
  line-height: 1.6;
}
.container {
  position: relative;
  max-width: 960px;
  margin: auto;
  padding: 0 30px;
  padding: 0 30px;
  animation-name: myanimation2;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}
.showcase {
  position: relative;
  height: 300px;
  animation-name: myanimation;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}
@keyframes myanimation {
  0% {
    top: -500px;
  }
  100% {
    top: 200px;
  }
}
@keyframes myanimation2 {
  0% {
    left: -2000px;
  }
  100% {
    left: 00px;
  }
}
.btn {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: white;
  top: 50px;
  border: 2px solid white;
  padding: 10px;
  opacity: 0;
  animation-name: btn;
  animation-duration: 3s;
  animation-delay: 3s;
  animation-fill-mode: forwards;

  transition-property: transform;
  transition-duration: 1s;
}
.btn:hover {
  transform: rotateY(180deg);
}

@keyframes btn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
