* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
ul.topnav {
  background-color: rgb(192, 190, 190);
}
ul.topnav li {
  list-style: none;
  float: left;
}

ul.topnav li.topnavright {
  float: right;
}
ul.topnav li a {
  display: block;
  text-decoration: none;
  min-height: 16px;
  text-align: center;
  padding: 14px;
  text-transform: uppercase;
  color: black;
}
ul.topnav li:hover {
  background-color: #0080ff;
  color: black;
}
ul li.trigram {
  display: none;
}
